<% #if igned_in? %>
    <div class="row">
    </div>
<% #else %>
    <div class="center hero-unit">
        <h1>箱庭諸島 for Ruby on Railsへようこそ</h1>
        <h2>
        このサイトはperl版箱庭諸島2をRuby on Railsに移植したサイトです。
        </h2>
        
        <a href="http://www.hakoniwa.net/hako/">箱庭諸島の保管庫</a>

        <%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
<% #end %>